/*divides text into intern_Text and intern_Icon using div and img childs*/
div#DQ_intern_Text{
	width:80%;
	margin:1vh;
	max-height:100%;
	display:inline-block;
	vertical-align:middle;
}
/*divides text into intern_Text and intern_Icon using div and img childs*/
img#DQ_intern_Icon{
	width:15%;
	margin:1vh;
	max-height:100%;
	display:inline-block;
	vertical-align:middle;
}

/*Animations*/
@keyframes Animinvert {0%{}100%{filter: invert(1);}}
.invert{		
	animation-name: Animinvert;
	animation-timing-function: ease-in;
	animation-duration: 1s;	
}
@keyframes Animeaseout {0%{opacity:1;}100%{opacity:0;}}
.easeout{		
	animation-name: Animeaseout;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;	
}