html, body{
	height: 100%;margin:0;
	text-align:center;
}
div#image{
	height:80%;
	text-align:center;
	margin:0 auto;
	position:relative;
}
img#DQimage{height:100%;}
div#DQtext{
	text-align:justify;
	color:brown;	
	padding:1vh 1vh 0px 1vh;
	display:inline-block;
	vertical-align:middle; 
	font-size:2.5vh;
}
div#text{
	display:inline-block;
	height:19%;
	background:linear-gradient(0deg, #aaf, #cbe 40%, #ddd) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-color:#aaf;
	box-shadow:inset 0px 0px 0px 2px blue;
	width:800px;
	margin:0 auto;	
	position:relative; 
}
div#DQnext:hover,div#DQprev:hover{
	opacity:1;	
}
div#DQnext,div#DQprev{
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	height: 7vh;
	opacity: 0.2;
	position: absolute;
	top: 2px;
	width: 7vh;
}
div#DQnext{right: 2px;background-image:url("next.png");}
div#DQprev{left: 2px;background-image:url("prev.png");}